<!DOCTYPE html>

<html>
    <head>
        <link href="/static/styles/skeleton/base.css" rel="stylesheet" type="text/css" />
        <link href="/static/styles/skeleton/skeleton.css" rel="stylesheet" type="text/css" />
        <link href="/static/styles/skeleton/layout.css" rel="stylesheet" type="text/css" />
        <link href="/static/styles/style.less" rel="stylesheet/less" type="text/css" />

        <script type="text/javascript" src="/static/scripts/less.js"></script>
    </head>

    <body>
        <header>
            <h1>Book Title</h1>
        </header>

        <section class="content">
            {% block content %}{% endblock %}
        </section>

        <footer>
        </footer>
    </body>
</html>
